.c1{
    height: 100vh;
    position: relative;
}

.c2{
    background-color: rgb(73, 223, 118);
    height: 50%;
}
.c3{
    padding-top: 60px;
    height: 50%;
    background-color:(papayawhip, 193, 201);
}
.c4 img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.c4{
    position: absolute;
    bottom: 250px;
    left: 200px;
}
.c2 h1 {
    text-align: center;
}
.c3 h4{
    text-align: center;
}
